deploy/
/bin/
/obj/
/Properties/
/.vscode/
/.vs/
/appsettings.json
/appsettings.Development.json
/.env
/FeeCollectorApplication.csproj.user
/Data/bin/
/Data/obj/
/Models/bin/
/Models/obj/
/Utility/bin/
/Utility/obj/
/Service/obj/
/Service/bin/
