deploy/
/Backend/bin/
/Backend/obj/
/Backend/Properties/
/Backend/.vscode/
/Backend/.vs/
/Backend/appsettings.json
/Backend/appsettings.Development.json
/Backend/.env
/Backend/FeeCollectorApplication.csproj.user
/Data/bin/
/Data/obj/
/Models/bin/
/Models/obj/
/Utility/bin/
/Utility/obj/
/Service/obj/
/Service/bin/
