@*@model FeeCollectorApplication.Models.Category


<h1>Insert Category</h1>

<h2>@ViewBag.Message</h2>

<form asp-controller="Category" asp-action="Insert" method="post">
    <table border="1" cellpadding="10">
        <tr>
            <td>ID:</td>
            <td><input asp-for="_id" /></td>
        </tr>
        <tr>
            <td>Image path:</td>
            <td><input asp-for="image" /></td>
        </tr>
        <tr>
            <td>License Plate Number:</td>
            <td><input asp-for="idCar" /></td>
        </tr>
        <tr>
            <td>Last Name :</td>
            <td><input asp-for="LastName" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">Save</button>
            </td>
        </tr>
    </table>
</form>*@